@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Variáveis */
    --amarelo: #ffef82;
    --azul: #9ed1cf;
    --dourado: #9d8e25;
}

/* Corpo */

body {
    background-image: url(img/papel-fundo.png);
    font-family: 'Josefin Sans', sans-serif;
}

/* Cabeçalho */

header {
    background-color: var(--amarelo);
    display: flex;
    justify-content: space-between;
    padding: 13px 20px;
    align-items: center
}

.logo {
    width: 110px;
}

header > nav {
    display: flex;
    gap: 30px;
}

header a:hover {
    transform: scale(1.3);
    transition: .4s;
}

.redes-sociais {
    width: 30px;
}

a:has(.material-symbols-outlined) {
    transform: scale(1.5);
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

a:has(.material-symbols-outlined):hover {
    transform: scale(1.8);
}

/* Cadastro */

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55vh;
    
}

.div-titulos {
    margin: 20px 0;
    text-transform: uppercase;
}

.div-titulos, form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    font-size: 35px;
    letter-spacing: 15px;
    text-align: center;
}

input {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

textarea {
    resize: none;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

:is(input, textarea):focus {
    outline: 2px solid var(--azul);
}

.button {
    background-color: #9ed1cf;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--azul);
}

.button:hover {
    border: 1px solid black;
}

section {
    margin: auto;
}

/* Index e Noticias */

.section_artigos {
    width: 80vw;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

.section_descricao {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 20px 0px;
}

.artigo_descricao {
    font-size: 22px;
    background-color: var(--azul);
    width: 50vw;
    border-radius: 15px;
    padding: 20px;
}

.artigo_descricao > div {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
    align-items: center;
    text-align: justify;
}

.artigo_descricao img {
    width: 240px;
}

.aside_descricao nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 22px;
    text-align: center;
    width: 200px;
    height: 100%;
}

summary {
    cursor: pointer;
}

.aside_descricao ul {
    font-size: 1em;
    display: flex;
    gap: 10px;
    margin-top: 5px;
    flex-direction: column;
    list-style: "ᐅ";
}

.aside_descricao ::marker {
    font-size: 15px;
    color: var(--dourado);
}

.aside_descricao a {
    text-decoration: none;
    color: var(--dourado)
}

.aside_descricao a:hover {
    color: black;
    transform: scale(1.3);
    transition: transform .4s;
}

details {
    display: flex;
    flex-direction: column;
    height: 30px;
}

/* Sem notícias */

.p-section-vazio {
    text-align: center;
    font-size: 2em;
}

/* Notícias Cadastradas */

h2:has(+ .p-noticia-cadastrada) {
    margin: 30px 0;
}

.p-noticia-cadastrada {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    text-align: justify;
    font-size: 1.3em;
}

.p-id {
    text-align: end;
}

/* Infográficos */

article {
    padding: 10px;
    background-color: var(--azul);
    border-radius: 15px;
}

.artigo_infografico h2 {
    margin: 30px 0;
}

.artigo_infografico div {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.img-infografico {
    width: 300px;
    border-radius: 10px;
}

/* Profissões */

.titulo-profissoes{
    text-align: center;
    margin: 20px 0;
    font-size: 1.9em;
}

.artigo_profissoes p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    text-align: justify;
}