<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaqueline Silva - Blog</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="../assets/js-logo.png" type="image/x-icon"> <!-- Isso faz com que fique uma imagem na aba -->
</head>
<body>
    <header>
        <img src="../assets/js-logo.png" class="logo" alt="Logo Jaqueline Silva">
        <nav>
            <a href="https://www.tiktok.com/@jaqueline.silva.web?_t=8ejIED8r94n&_r=1" target="_blank"><img src="../assets/tiktok-logo.png" class="redes-sociais" alt=""></a>
            <a href="https://twitter.com/jaque_silva_web?s=20" target="_blank"><img src="../assets/twitter-logo.png" class="redes-sociais" alt=""></a>
            <a href="https://instagram.com/jaqueline.silva_web?igshid=MzRlODBiNWFlZA==" target="_blank"><img src="../assets/instagram-logo.png" class="redes-sociais" alt=""></a>
        </nav>
    </header>
    <main>
        <section class="section_artigos section_descricao">
            <article class="artigo_descricao">
                <div>
                    <img src="../assets/prova-lapis.png" alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, perspiciatis. Quaerat enim incidunt adipisci asperiores tempora nemo, esse quasi porro laborum vitae error hic ut? Impedit consequuntur quibusdam atque nemo!</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem eveniet delectus laboriosam nisi modi et ipsam ea corrupti? Praesentium quae excepturi, quam minus voluptas magnam similique totam provident nihil!</p>
                    <img src="../assets/prova-computador.png" alt="">
                </div>
            </article>
            <aside class="aside_descricao">
                <nav>
                    <details>
                        <summary>Notícias</summary>
                        <ul>
                            <li><a href="cadastrar.html">Cadastrar Notícias</a></li>
                            <li><a href="noticias.html">Notícias Cadastradas</a></li>
                        </ul>
                    </details>
                    <a href="">Integrantes</a>
                    <a href="">Propósito</a>
                    <a href="">Parcerias</a>
                    <a href="">Contato</a>
                </nav>
            </aside>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>