@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --amarelo: #ffef82;
    --azul: #9ed1cf;
    --dourado: #9d8e25;
}

header {
    background-color: var(--amarelo);
    display: flex;
    justify-content: space-between;
    padding: 13px 20px;
    align-items: center
}

.logo {
    width: 110px;
}

header > nav {
    display: flex;
    gap: 30px;
}

header a:hover {
    transform: scale(1.3);
    transition: .4s;
}

.redes-sociais{
    width: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55vh;
    
}

div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    background-color: #9ed1cf;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--azul);
}

.div-titulos {
    margin: 20px 0;
    text-transform: uppercase;
}

h2{
    font-size: 35px;
    letter-spacing: 30px;
    text-align: center;
}

.button:hover {
    border: 1px solid black;
}

textarea{
    resize: none;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: none;
}

input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

h1{
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
}

section{
    margin: auto;
}

body{
    background-image: url("../assets/papel-fundo.png");
    font-family: 'Josefin Sans', sans-serif;
}

:is(input, textarea):focus {
    outline: 2px solid var(--azul);
}